<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="board.dao.BoardDAO">
    <insert id="write" parameterType="map" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO board (id, name, email, subject, content)
        VALUES (#{id}, #{name}, #{email}, #{subject}, #{content})
    </insert>
    
    <update id="refUpdate">
    	update board set ref=LAST_INSERT_ID() where seq=LAST_INSERT_ID()
    </update>
    
    <select id="getList" resultType="boardDTO">
    	select * from board;
    </select>
    
    <select id="getDetail" parameterType="int" resultType="boardDTO">
    	select * from board where seq = #{seq}
    </select>
 </mapper>